:root {
    --back-color: #e0e5ec;
    --text-color: #A19378;
    --third-color:#2E3D54;
    --morph-1-color: #bec3c9;
    --morph-2-color: #ffffff;
    --morph: 5px 5px 10px var(--morph-1-color),
            -5px -5px 10px var(--morph-2-color);
    --morph-inset: inset 5px 5px 10px var(--morph-1-color),
            inset -5px -5px 10px var(--morph-2-color);
}
html, body {
    overflow-x: hidden;
}
html {
    overflow: overlay;
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--back-color);
    ::-webkit-scrollbar {
        background-color: transparent;
        width: .5rem;
        height: .3rem;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--text-color);
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
body {
    background-color: var(--back-color);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: clamp(16px, 5vw, 20px);
    margin: 0px;
    color: var(--text-color);
    width: 100%;
    transition: all 0.2s ease-in-out;
}
h1 {
    margin: 1rem 0 0;
    line-height: 3rem;
    &::after {
        content: "";
        background-color: var(--text-color);
        border-radius: .5rem;
        display: block;
        position: relative;
        height: .5rem;
    }
}
h2 {
    padding: 0 1rem;
    margin: 1rem 0 0;
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--text-color);
    color: var(--back-color);
}
h3 {
    margin: 2rem 0 1rem;
    &::before {
        content: "|";
        background-color: var(--text-color);
        border-radius: .5rem;
        margin-right: .5rem;
    }
}
a:not(.eachLocationLink):not(.eachMenuLink) {
    color: var(--third-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
    padding: 0 .5rem;
    z-index: 1;
    &:hover {
        background-color: var(--third-color);
        color: var(--back-color);
    }
}
img {
    display: block;
    width: clamp(100px, 90%, 500px);
    margin: 1rem auto;
}
#main {
    @media screen and (min-width:1200px) {
        display: flex;
        grid-template-columns: clamp(100px, 20vw, 600px) 800px 1fr;
        max-width: 1200px;
        margin: auto;
        #centerContent {
            min-height: 70vh;
            width: 800px;
        }
        .rightMenu {
            margin: 1rem;
        }
    }
}
#header {
    display: inline-block;
    z-index: 3;
    @media screen and (min-width:1200px) {
        width: clamp(50px, 10vw, 300px);
    }
    @media screen and (max-width:1200px) {
        background-color: var(--back-color);
        box-shadow: var(--morph);
        border-radius: 5vw;
        display: block;
        margin: 2vh;
    }
    a {
        display: block;
        padding: 0;
        &:hover {
            background-color: transparent;
            color: var(--third-color);
            opacity: .5;
        }
    }
    #headerText {
        @media screen and (min-width:1200px) {
            display: none;
        }
        @media screen and (max-width:1200px) {
            font-family: 'Montserrat Alternates', sans-serif;
            text-align: center;
            font-size: unquote("min(8vw, 8vh)");
            span {
                display: block;
                padding: 1vh 0;
            }
        }
    }
    #headerImage {
        margin: 0;
        width: clamp(50px, 10vw, 300px);
        position: fixed;
        top: 0;
        @media screen and (max-width:1200px) {
            display: none;
        }
    }
}
#textAreaWrapper {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: unquote("min(90%, 750px)");
    #textArea {
        #locationList {
            .building {
                margin: 3rem 0 0 0;
                .eachStair {
                    margin: 0 0 2rem 0;
                }
            }
        }
            .block {
            margin: 0 0 2rem 0;
        }
        .eachBlock {
            display: grid;
            gap: 1rem;
        }
        @media screen and (min-width:850px) {
            .eachBlock {
                grid-template-columns: 1fr 1fr;
            }
        }
        p {
            margin: 1rem;
            &#description {
                margin: 1rem;
            }
        }
        #near {
            border-radius: .5em;
            padding: 0 .3em;
            a:hover {
                color: var(--back-color);
            }
        }
        #bottomBtnArea {
            box-shadow: var(--morph);
            background-color: var(--back-color);
            border-radius: 1rem;
            padding: .5rem;
            margin: 2rem 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .eachLocation {
                gap: 0;
            }
            @media screen and (min-width:350px) and (max-width:600px)  {
                grid-template-columns: 1fr;
            }
            @media screen and (max-width:350px) {
                margin: 1.5rem 1rem;
                .eachLocationLink {
                    padding: 0;
                }
                .eachLocationName {
                    display: none;
                }
            }
            @media screen and (min-width:600px) {
                white-space: nowrap;
            }
            #prevBtn {
            grid-row: 1;
            grid-column: 1;
            }
            #nextBtn {
                grid-row: 1;
                grid-column: 2;
                .eachLocationName {
                    grid-row: 1;
                    grid-column: 1;
                }
                .eachLocationIcon {
                    grid-row: 1;
                    grid-column: 2;
                    text-align: right;
                }
                @media screen and (min-width:350px) and (max-width:600px) {
                    grid-row: 2;
                    grid-column: 1;
                }
            }
            .eachLocationLink{
                border: transparent;
                padding: .5rem;
                &::before {
                    display: none;
                }
                &:hover {
                    color: var(--third-color);
                    box-shadow: var(--morph-inset);
                }
                .eachLocation {
                    &.left {
                        justify-content: start;
                    }
                    &.right {
                        justify-content: end;
                    }
                }
            }
        }
    }
}
#footer {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    @media screen and (min-width:1200px) {
        transform: translateX(-5vw);
    }
}
#backText {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size: unquote("min(30vw, 35vh)");
    line-height: unquote("min(23vw, 29vh)");
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--text-color);
    opacity: .1;
    z-index: -1;
    user-select: none;
}
.menu {
    background-color: var(--back-color);
    border-radius: 1rem;
    user-select: none;
    position: fixed;
    bottom: 5vh;
    box-shadow: var(--morph);
    display: block;
    margin: auto;
    padding: 1rem;
    a {
        color: var(--text-color);
        text-decoration: none;
        padding: 0;
        .eachMenu {
            padding: 1rem;
            display: grid;
            align-items: center;
            justify-items: center;
            gap: 1rem;
            margin: .5rem;
            border-radius: 1rem;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: var(--text-color);
                cursor: pointer;
                box-shadow: var(--morph-inset);
            }
            .gridLeft {
                width: unquote("min(20vw, 50px)");
                grid-row: 1;
                grid-column: 1;
                .eachMenuIcon {
                    font-size: unquote("min(10vw,3rem)");
                }
            }
            .gridRight {
                width: 10rem;
                grid-row: 1;
                grid-column: 2;
            }
        }
    }
}
@media screen and (max-width:1200px) {
    .rightMenu {
        display: block;
        padding: .5rem;
        width: clamp(200px, 80%, 500px);
        margin: 3rem auto;
        .menu {
            position: initial;
        }
    }
}

.eachLocationLink {
    color: var(--third-color);
    text-decoration: none;
    background-color: transparent;
    padding: 1rem;
    border: var(--third-color) 1px solid;
    z-index: 1;
    border-radius: 1rem;
    position: relative;
    display: block;
    overflow: hidden;
    will-change: transform;
    transition: all .5s ease-in-out;
    .eachLocation {
        display: grid;
        align-items: center;
        gap: 1rem;
        .eachLocationIcon {
            grid-row: 1;
            grid-column: 1;
            width: unquote("min(25vw, 50px)");
            i {
                font-size: unquote("min(25vw, 50px)");
            }
        }
        .eachLocationName {
            grid-row: 1;
            grid-column: 2;
            text-align: right;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10vw;
        border: var(--third-color) 1px solid;
        background-color: var(--third-color);
        transform: translateX(calc(-100% - 2rem));
        transition: all .5s ease-in-out;
        z-index: -1;
    }
    &:hover {
        color: var(--back-color);
        &::before {
            border-radius: 1rem;
            transform: translateX(-1rem);
        }
    }
}

/* pannellum */
#panorama {
    user-select: none;
    z-index: 2;
    border-radius: 1.5rem;
    background-color: var(--back-color);
    margin: 0 auto;
    width: clamp(270px, 96vw, 720px);
    height: clamp(180px, 64vw, 480px);
    box-shadow: var(--morph);
    &:fullscreen {
        border-radius: 0;
    }
}
.pannellumControls {
    user-select: none;
    width: clamp(200px, 90vw, 500px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem auto;
    background-color: var(--back-color);
    box-shadow: var(--morph);
    border-radius: 1.5rem;
    text-align: center;
    div, button {
        color: var(--sub-color);
        font-size: 2rem;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: clamp(5vh,20px, 20vw);
        height: clamp(5vh,20px, 20vw);
        transition: all .5s ease-in-out;
        border-radius: 50%;
        padding: 1rem;
        margin: .5rem;
        @media screen and (max-width:320px) {
            font-size: 1.5rem;
            padding: .5rem;
        }
    }
    div:hover {
        box-shadow: var(--morph-inset);
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        appearance: none;
        box-sizing: content-box;
    }
    .on {
        box-shadow: var(--morph-inset);
    }
    #pannellumOrientation {
        display: none;
    }
}
#sceneChange {
    #sceneList {
        display: flex;
        padding: 0 0 .5rem;
        margin: 1rem 0 0;
        font-weight: 800;
        overflow-x: scroll;
        .eachScene {
            display: inline-block;
            color: var(--base-color);
            font-family: 'M PLUS Rounded 1c', sans-serif;
            cursor: pointer;
            padding: .2rem .8rem;
            margin: 0 .3rem;
            border: 1px var(--text-color) solid;
            border-radius: .5rem;
            white-space: nowrap;
            transition: all .2s ease-in;
            &:hover {
                color: var(--back-color);
                background-color: var(--third-color);
            }
        }
    }
}
@media screen and (min-width:600px) {
    #imageAreaWrapper {
        display: flex;
        margin: auto;
        margin-top: 1rem;
        width: min(90%, 750px);
        .pannellumControls {
            flex-flow: column;
            margin: 0 0 0 1.5rem;
            width: auto;
        }
    }
}
.sceneMove {
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%22208%22%3E%0A%3Ccircle%20fill-opacity%3D%22.78%22%20cy%3D%22117%22%20cx%3D%2213%22%20r%3D%2211%22%20fill%3D%22%23fff%22%2F%3E%0A%3Ccircle%20fill-opacity%3D%22.78%22%20cy%3D%22143%22%20cx%3D%2213%22%20r%3D%2211%22%20fill%3D%22%23fff%22%2F%3E%0A%3Ccircle%20cy%3D%22169%22%20cx%3D%2213%22%20r%3D%227%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%2F%3E%0A%3Ccircle%20cy%3D%22195%22%20cx%3D%2213%22%20r%3D%227%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%222%22%2F%3E%0A%3Ccircle%20cx%3D%2213%22%20cy%3D%22195%22%20r%3D%222.5%22%2F%3E%0A%3Cpath%20d%3D%22m5%2083v6h2v-4h4v-2zm10%200v2h4v4h2v-6zm-5%205v6h6v-6zm-5%205v6h6v-2h-4v-4zm14%200v4h-4v2h6v-6z%22%2F%3E%0A%3Cpath%20d%3D%22m13%20110a7%207%200%200%200%20-7%207%207%207%200%200%200%207%207%207%207%200%200%200%207%20-7%207%207%200%200%200%20-7%20-7zm-1%203h2v2h-2zm0%203h2v5h-2z%22%2F%3E%0A%3Cpath%20d%3D%22m5%2057v6h2v-4h4v-2zm10%200v2h4v4h2v-6zm-10%2010v6h6v-2h-4v-4zm14%200v4h-4v2h6v-6z%22%2F%3E%0A%3Cpath%20d%3D%22m17%2038v2h-8v-2z%22%2F%3E%0A%3Cpath%20d%3D%22m12%209v3h-3v2h3v3h2v-3h3v-2h-3v-3z%22%2F%3E%0A%3Cpath%20d%3D%22m13%20136-6.125%206.125h4.375v7.875h3.5v-7.875h4.375z%22%2F%3E%0A%3Cpath%20d%3D%22m10.428%20173.33v-5.77l5-2.89v5.77zm1-1.73%203-1.73-3.001-1.74z%22%2F%3E%0A%3C%2Fsvg%3E%0A);
    background-position: 0 -130px;
}